NodeRedAPI/flows.json
[{"id":"600ebb30.41f034","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"624fff46.88e81","type":"ibmiot in","z":"600ebb30.41f034","authentication":"apiKey","apiKey":"74dc477.c698eb8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"AD","applicationId":"","deviceType":"+","eventType":"accel","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":false,"qos":0,"x":310,"y":220,"wires":[["9896184b.f18578"]]},{"id":"77f3c3a4.87a8dc","type":"inject","z":"600ebb30.41f034","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"on startup","payloadType":"str","x":150,"y":420,"wires":[[]]},{"id":"b6b926a3.1276f8","type":"debug","z":"600ebb30.41f034","name":"IBMdata","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":200,"wires":[]},{"id":"811a6299.86ace","type":"mysql","z":"600ebb30.41f034","mydb":"26b58d5e.45e512","name":"patrolTracker","x":750,"y":320,"wires":[["b6b926a3.1276f8"]]},{"id":"9896184b.f18578","type":"function","z":"600ebb30.41f034","name":"","func":"var lat=msg.payload.d.latitude;\nvar lon=msg.payload.d.longitude;\nvar time=msg.payload.d.timestamp;\nmsg.topic = \"INSERT INTO location(`lat`,`lon`) VALUES (\"+lat +\",\"+lon +\")\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["811a6299.86ace"]]},{"id":"3f0f6b19.ab0c84","type":"function","z":"600ebb30.41f034","name":"","func":"var lat=msg.payload.d.latitude;\nvar lon=msg.payload.d.longitude;\nvar time=msg.payload.d.timestamp;\nmsg.topic = \"INSERT INTO location(`lat`,`lon`,`time`) VALUES (\"+lat +\",\"+lon +\",\"+time +\")\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":500,"wires":[[]]},{"id":"74dc477.c698eb8","type":"ibmiot","name":"a-gi2a9g-lxhmyt5fgf","keepalive":"60","serverName":"gi2a9g.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"gi2a9g","shared":false},{"id":"26b58d5e.45e512","type":"MySQLdatabase","name":" patrolTracker","host":"127.0.0.1","port":"3306","db":"patrolTracker","tz":"patrolTracker","charset":"UTF8"}]